.executeitem {
  --borderWidth: 3px;
  /* box-shadow: rgba(166, 46, 46, 0.4) 5px 5px, rgba(166, 46, 46, 0.3) 10px 10px,
    rgba(166, 46, 46, 0.2) 15px 15px, rgba(166, 46, 46, 0.1) 20px 20px !important; */
  padding: 3px;
  z-index: 0;
}
.executeitem:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: 6px;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.executeCheckBox {
  opacity: 0.1;
  display: flex;
  position: absolute !important;
  bottom: calc(2% + 10px);
  left: calc(2% + 20px);
  cursor: pointer;
}
.warriorCard:hover .executeCheckBox {
  opacity: 1;
  transition: 0.7s all;
}
.beastCard:hover .executeCheckBox {
  opacity: 1;
  transition: 0.7s all;
}
