.non-style{
    color: inherit;
    text-decoration: none;
}

.action{
    color: #f66810;
}

.hover-style:hover{
    color: #f66810;
    text-decoration: none;
}

.gray{
    color: gray;
}

.close-button{
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 10px;
    color: darkgray;
}