.nav-bar {
    &-container {
        display: block;
    }

    &-list {
    }
    &-item {
        display: block;
        color: white;
        text-decoration: none;

        &.active {
            background: #1f2a37;
            // border-right: 5px solid #24f39f;
            // background-image: url("/assets/images/fireMenu.png");
        }
    }
    &-nostyle {
        color: inherit;
        text-decoration: none;
    }
}
