.legionFontColor {
    color: #e89f38;
}
.legionOrangeColor {
    color: #f66810;
}
.achievementColor {
    color: #f66810;
    transition: 0.4s all;
    cursor: pointer;
}
.achievementColor:hover {
    color: #a44916;
    transition: 0.4s all;
}
.legionBtn {
    background: "radial-gradient(#dfd80d, #fb9300)" !important;
}
a {
    text-decoration: none;
}
.nav-bar-container {
    display: block;
}

.nav-bar-item {
    display: block;
    color: white;
    text-decoration: none;
}

.nav-bar-item.active {
    background: #1f2a37;
    background-image: url("./assets/images/fireMenu.png");
}
#main {
    background: url("./assets/images/nicah_background.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    overflow-y: auto;
}

@media (min-width: 0px) {
    #main {
        background-position: 20%;
        background-size: auto auto;
    }
}
@media (min-width: 1600px) {
    #main {
        background-position: 0%;
        background-size: 100% 100%;
    }
}

.nav-bar-nostyle {
    color: inherit;
    text-decoration: none;
}

.non-style {
    color: inherit;
    text-decoration: none;
}
/* width */
::-webkit-scrollbar {
    width: 6px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #121212 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444 !important;
    border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333 !important;
}
.MuiButton-root a {
    color: white;
}

.hover-style:hover {
    color: #f66810;
    text-decoration: none;
}

.gray {
    color: gray;
}
